body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #FFFFFF
}
 h1, h2, h3, h4, h5, h6, p{
    margin-top: 0;
    margin-bottom: 0;
 }
 ul, ol {
    margin-top: 0;
    margin-bottom: 0; 
    padding-left: 0;
  }
  li {
    list-style-type: none;
  }
  img{
    display: block;
  }
  
  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  } 
  .container { 
    max-width: 318px; 
    margin-left: auto;
    margin-right: auto;
    padding-right: 15px;
    padding-left: 15px;     
}

    .header-menu,
    .header-address{
        display: none;
    }
    .header {
       
        box-shadow:0px 2px 1px rgba(46, 47, 66, 0.08), 
                    0px 1px 1px rgba(46, 47, 66, 0.16), 
                    0px 1px 6px rgba(46, 47, 66, 0.08); 
        border-bottom: 1px solid #e7e9fc;
    }
    .header-nav-address {
        display: flex;
        margin-top: 16px;
        margin-bottom: 16px;
        width: 318px;
        justify-content: space-between;
        align-items: center;
       }
    .header-logo {
        color:  #4d5ae5;
        font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;  
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
    }
    .header-logo-span{
        color:#2E2F42;
        font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17; 
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
    }
    
    @media screen and (max-width: 767px){
        .mobile-menu-open{
            display: flex;
            border: none;
            padding: 0;
        }
        .mobile-menu-icon{
            margin: 0;
            padding: 0;
    
        }
        /*=========MOBILE MENU========*/
        .mobile-menu-nav{
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 99999999;
            background-color: #FFF;
            transform: translateX(100%);
            transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
        }
        .mobile-menu-nav.is-open{
            transform: translateX(0%);
        }
        .mobile-container{
            position: relative;
        }
        .mobile-close-btn{
            position: absolute;
            top: 24px;
            right: 8px;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 24px;
            height: 24px;
            padding: 0;
            border: 1px  solid rgba(0, 0, 0, 0.1);
            background-color: #E7E9FC;
            border-radius: 50%;
            content: "";
            transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
        .mobile-close-btn:hover,
        .mobile-close-btn:focus{
        background-color: #404bbf;
        border: none;
        fill: #ffffff;
        }
        .mobile-menu-navigation{
            padding-top: 72px;
            margin-bottom: 168px;
        }
        .mobile-menu{
            display: flex;
            flex-direction: column;
            gap: 40px;
        }
        .mobile-menu-link{
            display: block;
            color: #2E2F42;
            font-size: 36px;
            font-weight: 700;
            line-height: 1.1;
            letter-spacing: 0.02em;
            text-transform: capitalize;
            text-decoration: none;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
        .mobile-menu-link:hover,
        .mobile-menu-link:focus{
            color: #404BBF;
        }
        .mobile-menu-address{
            font-style: normal;
        }
        .mobile-menu-cont {
            display: flex;
            flex-direction: column;
            gap: 24px;
        }
        
        .mobile-menu-cont-link {
            color: #434455;
            font-size: 20px;
            font-weight: 500;
            line-height: 1.2;
            letter-spacing: 0.02em;
        text-decoration: none; 
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
        .mobile-menu-cont-link:hover,
        .mobile-menu-cont-link:focus{
            color: #404bbf;
        }
        .mobile-social{
            margin-top: 48px;
            margin-bottom: 40px;
        }
    
        .mobile-social-list{
            display: flex;
            gap: 16px;
            
        }
        .mobile-social-icons{
            width: 40px;
            height: 40px;
            border-radius: 50%;
        }
        .mobile-icon{
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #4D5AE5;
            border-radius: 50%;
            width: 100%;
            height: 100%;
            transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
        .mobile-icon:hover,
        .mobile-icon:focus{
            background-color: #31d0aa;
        }
    
    
        .mobile-list-icon{
            fill:#f4f4fd;
        }

    }
   /*======MAIN=================== */
    /* section 1 */         
    .section {
        padding-top: 96px;
        padding-bottom: 96px;
    }
    .main-title {
        max-width: 320px;
        margin: auto;
        background-color: #2E2F42;
        background-image: linear-gradient(
            to bottom,
            rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)) ,url(../images/people-office320.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover ;
        padding: 72px 0
    }
    @media screen and (min-resolution: 192dpi) and (max-width: 767px),
     screen and (min-resolution: 2dppx) and (min-width: 767px),
      screen and (min-device-pixel-raito: 2) and (max-width: 767px) {
      .main-title{
       
        background-image: linear-gradient(
            to bottom,
            rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)),  url(../images/people-office320@2x.jpg);
      } 
    }
    
   
    .main-title-name {
        max-width: 200px;
        margin-bottom: 72px;
        margin-left: auto ;
        margin-right: auto ;
        color: #FFFFFF;
        text-align: center;
        font-size: 36px;
        font-weight: 700;
        line-height: 1.1;
        letter-spacing: 0.02em;
    } 
    .main-title-butt {
        display: block;
        min-width: 169px;
        height: 56px;
        padding: 16px 32px;
        border: none;
        border-radius: 4px;
        margin-left: auto ;
        margin-right: auto ;
        font-family: "Roboto", sans-serif;
        color: #FFFFFF;
        background-color: #4D5AE5;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5; 
        letter-spacing: 0.04em;
        cursor: pointer;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        
    }
    .main-title-butt:hover,
    .main-title-butt:focus{
        background-color: #404BBF
    }  
    /*======MAIN=================== */
    /* section 2 */
    .main-task-list{
        display: flex;
        flex-direction: column;
        gap: 72px;
    }
    .main-item-icons{
        display: none;
    }
    .main-item-name {
        margin-bottom: 8px;
        color:  #2E2F42;
        text-align: center;
        font-size: 36px;
        font-weight: 700;
        line-height: 1.1; 
        letter-spacing: 0.02em;
    }
    .main-item-text {
        color: #434455;
        text-align: left;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5; 
        letter-spacing: 0.02em;
    }
    /*======MAIN=================== */
    /* section 3 */
    .container-section-3{
        max-width: 294px;
    }
    
    .main-team {
        background-color: #F4F4FD
    }
    .main-team-name {
        margin-bottom: 72px;
        color: #2E2F42;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    }
    .main-team-list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        gap: 72px;   
    }
    .main-team-item {
        background-color: #FFFFFF;
        border-radius: 0px 0px 4px 4px;
        box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
         0px 1px 1px rgba(46, 47, 66, 0.16), 
         0px 2px 1px rgba(46, 47, 66, 0.08);
    }
    .namejob{
        padding: 32px 0;
    }
    .team-name {
        margin-bottom: 8px;
        color:  #2E2F42;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    }
    .team-name-job {
        color: #434455;
    text-align: center;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    }
    .main-taem-icons{
        display:flex;
        align-items: center;
        justify-content: center;
        gap: 24px;
        margin-top: 8px;
    }
    .main-social{
        width: 40px;
        height: 40px;
        border-radius: 50%;
    }
    .main-taem-icon{ 
        display: flex;
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: center;
        background-color: #4D5AE5;
        border-radius: 50%;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
    }
    .main-taem-icon:hover,
    .main-taem-icon:focus{
        background-color: #404bbf;
    }
    
    .team-icon{
        fill:#f4f4fd;   
    }
    /*======MAIN=================== */
    /* section 4 */
    .main-portfolio-name {
        margin-bottom: 72px;
        color: #2E2F42;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11; 
    letter-spacing: 0.02em;
    text-transform: capitalize;
    }
    .main-portfolio-list {
        display: flex;
        flex-direction: column;
        gap: 48px; 
    }
    .main-portfolio-item {
        transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);    
    }
    .main-box-list{
        padding: 40px 32px;
        color:  #F4F4FD;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing:0.02em;
        position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background:#4D5AE5;
      transform: translatey(100%);
      transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);;
    }
    .main-box{
        position: relative; 
      overflow: hidden;
    }
    .main-portfolio-item:hover {
        cursor: pointer;  
        box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    }
    .main-portfolio-item:hover .main-box-list{
        cursor: pointer;
       transform: translateY(0); 
    }
    .portfolio-nameapp{
        padding: 32px 16px;
        border: 1px solid #e7e9fc;
        border-top: none;
    }
    .portfolio-name {
        margin-bottom: 8px;
        color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    }
    .portfolio-app {
        color: #434455;
    font-size: 16px;
    line-height: 1.5; 
    letter-spacing: 0.02em; 
    }

    /*================  footer=============  */
    .footer { 
        background-color: #2e2f42;
        padding: 96px 0;
       
    }
    .footer-list{
    
        display: flex;
        flex-direction: column;
        gap: 72px;
        text-align: center;
    
    }
    .footer-logo-info{
        
    
    }
    
    .footer-logo-span {
        color: #F4F4FD;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.16; 
    letter-spacing: 0.03em;  
    text-transform: uppercase;
    
    }
    .footer-logo{
        display: inline-block;
        margin-bottom: 16px;
        color:  #4D5AE5;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
    
    
    }
    .footer-info {
        width: 264px;
        color: #F4F4FD;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em; 
    }
    .footer-social{
     
    }
    .footer-socual-name{
        color:  #FFF;
        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 1.5; 
        letter-spacing: 0.02em;
        margin-bottom: 16px;
    }
    .footer-social-list{
        display: flex;
        gap: 16px;
        justify-content: center;
        align-items: center;
        
    }
    .footer-social-icons{
        width: 40px;
        height: 40px;
        border-radius: 50%;
        
    }
    .footer-icon{
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #4D5AE5;
        border-radius: 50%;
        width: 100%;
        height: 100%;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .footer-icon:hover,
    .footer-icon:focus{
        background-color: #31d0aa;
    }
    
    
    .footer-list-icon{
        fill:#f4f4fd;
    }
    .footer-email{
    
    }
    .footer-email-name{
        color:#FFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
    }
    .footer-email-butt{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 16px;
    }
    .footer-email-label{
        display: flex;
        width: 288px;
        height: 40px;
        background-color: transparent;
    }
    .footer-email-input{
        font-size: 12px;
        font-weight: 500;
        line-height: 2;
        letter-spacing: 0.04em;
        border-radius: 4px;
        color: #FFFFFF;
    border: 1px solid  #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
        width: 100%;
        padding-left: 16px;
    background-color: transparent;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
        
    }
    .footer-email-input::placeholder{
        color: #FFFFFF;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 2; 
    letter-spacing: 0.04em;
    } 
    .subscribe-butt{
        font-family: "Roboto", sans-serif;
        border-radius: 4px;
        background-color: #4d5ae5;
        color: #fff;
        text-align: center;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5em;
        letter-spacing: 0.04em;
        display: flex;
        border: none;
        justify-content: center;
        align-items: center;
        height: 40px;
        min-width: 165px;
        cursor: pointer;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .subscribe-butt:hover,
    .subscribe-butt:focus{
        background-color: #404BBF;
        border: none;
    
    }
    .subscribe-butt-icon{
        fill: #FFFFFF;
        margin-left: 16px;
    }
    /* ===================backdrop====================*/
    .backdrop{    
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color:  rgba(46, 47, 66, 0.40);
        z-index: 99999999;
        transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
        
    }
    .backdrop.is-open{
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
    }
    .model{
        padding: 72px 24px 16px 16px;
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 288px;
        min-height: 584px;
        background-color: #FCFCFC;
        border-radius: 4px;  
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);;
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .model-close-btm{
        cursor: pointer;
        position: absolute;
        top: 24px;
        right: 24px;;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 24px;
        height: 24px;
        padding: 0;
        border: 1px  solid rgba(0, 0, 0, 0.1);
        background-color: #E7E9FC;
        border-radius: 50%;
        content: "";
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .model-close-btm:hover,
    .model-close-btm:focus{
     background-color: #404bbf;
     border: none;
     fill: #ffffff;
    }
    
    .model-close-icon{
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .backdrop-logo{
        max-width: 256px;
        margin-bottom: 16px;
        color: #2e2f42;
        text-align: center;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5em;
        letter-spacing: 0.02em;
        
    }
    .form-input{
        display: flex;
        flex-direction: column;
        margin-bottom: 8px;
        width: 248px;    
    }
    .form-input-name{
        display: block;
        margin-bottom: 4px;
        color: #8e8f99;
        font-size: 12px;
        font-weight: 400;
        line-height: 1.17;
        letter-spacing: 0.04em;
    }
    .form-input-text{
        position: relative;
    }
    .input-text-write{
        height: 40px;
        border-radius: 4px;
        border: 1px solid rgba(46, 47, 66, 0.4);
        width: 100%;
        padding-left: 38px;
        background-color: transparent;
        outline: transparent;
        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .input-text-write:focus{
        border-color: #4D5AE5;
    }
    .input-icon{
        position: absolute;
        top: 50%;
        left: 16px;
        transform: translateY(-50%);
        fill: #2e2f42;
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .input-text-write:focus + .input-icon{
        fill: #4D5AE5;
    }
    .form-input-comment{
        margin-bottom: 16px;
    }
    .text-input-commit{
        margin-top: 4px;
        width: 100%; 
        height: 120px;
        border-radius: 4px;
        border: 1px solid rgba(46, 47, 66, 0.4);
        padding: 8px 16px;
        color: rgba(46, 47, 66, 0.4);
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.17;
        letter-spacing: 0.04em;
        outline: transparent;
        resize: none;
        background-color: transparent;
        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .text-input-commit:focus{
        border-color:#4d5ae5
    }
    .accept-input{
        margin-bottom: 24px;
        
    }
    .accept-checkbox{
        position: absolute;
    }
    .clone-accept-checkbox{
        cursor: pointer;
        color:#8E8F99;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
    }
    .clone-checkbox-icon{
        display:inline-flex;
        border: 1px solid rgba(46, 47, 66, 0.4);
        border-radius: 2px;
        width: 16px;
        height: 16px;
        margin-right: 8px;
        align-items: center;
        justify-content: center;
        fill: transparent;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .accept-checkbox:checked + .clone-accept-checkbox > .clone-checkbox-icon{
        background-color: #404bbf;
        border: none;
        fill: #f4f4fd; 
    }
    
    .privacy-policy{
        color: #4D5AE5;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.16;
    letter-spacing: 0.04em;
    text-decoration-line: underline;
    }
    .backdrop-but{
        display: block;
        color: #fff;
        text-align: center;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.04em;
        border-radius: 4px;
        background-color: #4d5ae5;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
        padding: 16px 32px;
        min-width: 169px;
        height: 56px;
        border: none;
        cursor: pointer;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        margin-left: auto;
        margin-right: auto;
    
    }
    .backdrop-but:hover,
    .backdrop-but:focus{
        background-color: #404BBF;
        border: none; 
    }


@media screen and (min-width: 768px){
    .container { 
        max-width: 766px; 
        
    }
    
    .mobile-menu-open{
        display: none;
    }
    .mobile-menu-nav{
        display: none;
    }
    .header-nav-address {
        margin-top: 0;
        margin-bottom: 0;
        width: 766px;
    }
    .header-navigation {
        display: flex;
        align-items: center;
        
    }
    .header-logo{
        margin-right: 120px;
    }
    .header-menu {
        display: flex;
        gap: 40px;
    }
    .header-menu-link {
        display: block;
        padding-top:24px;
        padding-bottom: 24px ;
        color: #2E2F42;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        position: relative;
    }
    .current{
        color:#404bbf;
    }
    .current::after {
        display: block;
        content: "";
        position: absolute;
        width: 48px;
        height: 4px;
        left: 0;
        bottom: -1px;
        margin-top: 20px;
        border-radius: 2px;
        background-color:  #404BBF;
    }
    .header-menu-link:hover{
        color: #404bbf  ;
    }
    .header-menu-link:focus{
        color: #404bbf;
    } 
    .header-address{
        display: block;
    }
    .header-address{
        font-style: normal;
    }
    .header-cont{
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    .header-cont-item {
    }
    .header-cont-link {
        color: #434455;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-decoration: none; 
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .header-cont-link:hover{
        color: #404bbf;
    }
    .header-cont-link:focus{
        color: #404bbf;
    }
    /*======MAIN=================== */
    /* section 1 */
   
    .main-title {
        max-width: 768px;
        background-image: linear-gradient(
            to bottom,
            rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)) ,url(../images/people-office768.jpg);
        padding: 112px 0
    }
    @media screen and (min-resolution: 192dpi) and (min-width: 768px),
     screen and (min-resolution: 2dppx) and (min-width: 768px),
      screen and (min-device-pixel-raito: 2)and (min-width: 768px) {
      .main-title{
       
        background-image: linear-gradient(
            to bottom,
            rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)),  url(../images/people-office768@2x.jpg);
      } 
    }
    .main-title-name {
        max-width: 496px;
        margin-bottom: 36px;
        font-size: 56px;
        line-height: 1.07;
        letter-spacing: 0.02em;
    } 
    /*======MAIN=================== */
    /* section 2 */
    .main-task-list{
        flex-direction: row;
        flex-wrap: wrap;
        gap: 74px 24px;
    }
    .main-task-item {
        width: calc((100% - 24px) / 2);
    } 

    .main-item-name {
        text-align:left;
    }
    /*======MAIN=================== */
    /* section 3 */
    .container-section-3{
        max-width: 582px;
    }
    .main-team-list {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 64px 24px;   
    }
    .main-team-item {
        width: calc((100% - 24px) / 2);
    }
    /*======MAIN=================== */
    /* section 4 */
    
    .main-portfolio-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 72px 24px; 
    }
    .main-portfolio-item {
        width: calc((100% - 24px) / 2);    
    }
    /*================  footer=============  */
    .footer-list{
        width: 584px;
        text-align: left;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 72px 24px;
    }
    .footer-logo-info{
        text-align: left;
        display: flex;
        flex-direction: column;
        gap: 16px;
    }
    .footer-logo{
        margin-bottom: 0;
    }
    .footer-email-butt{
        flex-direction: row;
        gap: 24px;
    }
    .footer-email-label{
        width: 264px;
    }
    /* ===================backdrop====================*/
    .model{
        padding: 72px 24px 24px 24px;
        width: 408px;
    }
    .form-input{
        width: 360px;
    }
    .backdrop-logo{
        max-width: 360px;
    }
    

    
}
@media screen and (min-width: 1158px){
    .container { 
        max-width: 1158px;     
    }
    .section {
        padding-top: 120px;
        padding-bottom: 120px;
       }
    .header-nav-address {
        width: 1158px;   
    }
    .header-logo {
        margin-right: 76px;
    }
    .header-cont{
        flex-direction: row;
        gap: 40px;
    }

    /*======MAIN=================== */
    /* section 1 */
    
    .main-title {
        max-width: 1440px;
        background-image: linear-gradient(
            to bottom,
            rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)) ,url(../images/people-office.jpg);
        padding: 188px 0
    }
    @media screen and (min-resolution: 192dpi) and (min-width: 1440px),
     screen and (min-resolution: 2dppx) and (min-width: 1440px),
      screen and (min-device-pixel-raito: 2) and (min-width: 1440px) {
      .main-title{
       
        background-image: linear-gradient(
            to bottom,
            rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)),  url(../images/people-office@2x.jpg);
      } 
    }
    /*======MAIN=================== */
    /* section 2 */

    .main-task-list{
        flex-wrap: nowrap;
        gap: 24px;
    }
    .main-item-icons{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 8px;
        width: 264px;
        height: 112px;
        flex-shrink: 0;
        border-radius: 4px;
        border: 1px solid  #8E8F99;
        background: #F4F4FD;
        }
    .main-task-item {
        width: calc((100% - 24px) / 4);
    } 
    .main-item-name {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2; 
    }
    .main-item-text {
        font-weight: 400;
    }
    /*======MAIN=================== */
    /* section 3 */
    
    .main-team-list {
        flex-wrap: nowrap;
        gap: 24px;   
    }
    .main-team-item {
        width: calc((100% - 24px) / 4);
    }
    /*======MAIN=================== */
    /* section 4 */
    
    .main-portfolio-list {
        
        gap: 48px 24px; 
    }
    .main-portfolio-item {
        width: calc((100% - 48px) / 3);    
    }
    /*================  footer=============  */
    .footer-list{
        width: 1158px;
        gap: unset;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: baseline;
    
    }
    .footer-social {
        margin-right: 80px;
    }
    .footer-logo-info{
        margin-right: 120px;
    }
    .footer-logo{
        margin-bottom: 0;
    }
    .footer-email-butt{
        flex-direction: row;
        gap: 24px;
    }

}